.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.customers__header {
    margin: auto;
}

.customers__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    margin-top: 70px;
}

.customers__title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}

.customers__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    margin-bottom: 67px;
position: relative;

}

.customers__reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px -15px;
    margin-bottom: 120px;
}

.customers__reviews_item {
    margin: 0px 15px;
}

.review__item-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #86878B;
    background: #E2E2E2;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 15px;
    position: relative;
}

.review__item-text::after {
    content: "";
    width: 17px;
    height: 17px;
    background-color: #E2E2E2;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    left: 60px;
  
}
.customer__info-items{
    padding: 20px 35px 0px 0px;
}
.customer__name {
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.customer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info__photo{
    padding: 20px 0px 0px 35px;
   
}
