.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}
.footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 30%;
}

.icon-footer {
    color: white;
    list-style-type: none;
    font-size: 25px;
}
.footer__icons-item:hover {
    transform: scale(1.3);
    transition: all 0.3s;
}
.footer__copyright-text {
    color: rgba(255, 255, 255, 0.5);
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 20px;
}

