.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}

.header__top-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding: 20px 0px;
    text-align: center;
}

.logo__text-color:last-child {
    color: orange;
}

.header__menu {
    width: 50%;
    padding: 25px 0px 25px 0px;
}

.menu__box {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.menu__item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.menu__item:after {
    background-color: orange;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}

.menu__item:hover:after, .menu__item:focus:after {
    width: 100%;
}

.menu-open {
    border: none;
    margin-left: 260px;
    background-color: none;
    display: none;
}

.header__menu .show-menu {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.801);
    right: 50px;
    width: 50%;
    padding: 60px 20px 20px 40px;
    font-size: 30px;
}

.header__menu .show-menu li {
    margin-left: 100px;
}




