.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}

.header__top-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo__text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    padding: 20px 0px;
    text-align: center;
}

.logo__text-color:last-child {
    color: orange;
}

.header__menu {
    width: 50%;
    padding: 25px 0px 25px 0px;
}

.menu__box {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.menu__item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.menu__item:after {
    background-color: orange;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
}

.menu__item:hover:after, .menu__item:focus:after {
    width: 100%;
}

.menu-open {
    border: none;
    margin-left: 260px;
    background-color: none;
    display: none;
}

.header__menu .show-menu {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.801);
    right: 50px;
    width: 50%;
    padding: 60px 20px 20px 40px;
    font-size: 30px;
}

.header__menu .show-menu li {
    margin-left: 100px;
}

.header__content {
    background-image: url("../image/bg/background-1\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    position: relative;
    z-index: 1;
}

.header__content-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__content-description {
    width: 100%;
}

.header__content-logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    padding-top: 108px;
    margin-bottom: 32px;
}

.header__content-logo-color:last-child {
    color: orange;
}

.header__content-intro {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.header__content-intro::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
    margin-bottom: 39px;
    margin-top: 39px;
}

.header__content-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: white;
    margin-bottom: 100px;
    text-align: left;
}

.header__content-button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #fff;
    width: 135px;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 40px;
}

.header__content-button:hover {
    content: '';
    background-color: rgba(7, 0, 0, 0.87);
    border: none;
}

.form {
    width: 100%;
}

.form-small {
    max-width: 370px;
    margin: 80px auto;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
}

.form-small__content {
    margin-top: 44px;
    margin-bottom: 61px;
    padding: 0 60px;
}

.form-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: rgba(7, 0, 0, 0.87);
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.form-item {
    width: 100%;
    margin-bottom: 20px;
}

.form-item:after {
    margin-bottom: 0;
}

.label-title {
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
}

.input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

.form-button {
    padding: 20px 0px;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    background-color: #EC7979;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.form-text-color {
    color: #EC7979;
}