.pricing {
    width: 100%;
    background-color: #E5E5E5;
}

.pricing__header {
    margin: auto;
}

.pricing__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    background-color: #333333;
    text-align: center;
    padding: 0px;
}

.title {
    padding-top: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
    color: #212121;
    background-color: #E5E5E5;
}

.title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}

.pricing__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-top: 34px;
    margin-bottom: 60px;
    color: #86878B;
    text-align: center;
}

.pricing__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px -15px;
}

.pricing__column {
    width: 30%;
    margin: 0px 15px;
}

.pricing__item {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 70px;
}

.pricing__item_title {
    padding: 15px 0px;
    margin: 0px 0px 2px 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: #333333;
    transition: 0.3s;
}

.pricing__item_title:hover {
    content: '';
    background-color: darkorange;
}

.pricing__item_price {
    padding: 0px;
    margin: 0px 0px 2px 0px;
    text-align: center;
    background-color: #333333;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.pricing__item_price:hover {
    content: '';
    background-color: darkorange;
}

.pricing__item_subtitle {
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 2px 0px;
    text-align: center;
    transition: 0.3s;
}

.pricing__item_subtitle:hover {
    content: '';
    background-color: darkorange;
}

.pricing__item_list {
    line-height: 40px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px 0px 2px 0px;
    text-align: center;
    transition: 0.3s;
}

.pricing__item_list:hover {
    content: '';
    background-color: darkorange;
}