.contact__title{
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #212121;
    padding-top: 60px;
    text-transform: uppercase;
}

.contact__title::after{
        content: "";
        display: block;
        width: 64px;
        height: 2px;
        background-color: #E72424;
        margin: auto;
        margin-top: 34px;
        margin-bottom: 34px;
    }


.contact__text{
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
}